.examples {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 352px;

  .expandingContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 256px;
    padding: 1rem;
    background-color: lightgray;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 0.1);
    cursor: pointer;

    .alwaysVisible {
      user-select: none;
    }

    .sometimesVisible {
      height: 192px;
      background-color: white;
      border-radius: 0 0 0.5rem 0.5rem;
      padding: 1rem;
      cursor: auto;
    }

    &.animated {
      &.collapsed {
        gap: 0;
        transition: gap 0.25s;
        transition-delay: 0.2s;
      }

      .sometimesVisible {
        overflow: hidden;
        transition: all 0.25s ease-out;

        &.collapsed {
          height: 0;
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}
