.examples {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .editForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 256px;
    word-wrap: break-word;
    gap: 1rem;
    padding: 2rem;
    border: 1px solid lightgray;
    border-radius: 0.5rem;

    .inputWrapper {
      display: flex;
      flex-direction: column;
      text-align: left;
      width: 100%;
      min-height: 48px;
      text-wrap: wrap;

      .inputTitle {
        font-weight: bold;
      }
    }

    .buttonContainer {
      display: flex;
      justify-content: space-between;

      gap: 0.5rem;
      margin-top: 1rem;
      width: 100%;

      button {
        width: 50%;
      }
    }
  }
}
