.container {
  display: flex;
  flex-direction: column;
  width: 256px;
  padding: 1rem;
  background-color: lightgray;
  cursor: pointer;

  .sometimesVisible {
    margin-top: 1rem;
    padding: 1rem;
    background-color: white;
    cursor: auto;
  }
}
