.examples {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;

  .target {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 256px;
    height: 32px;
    padding: 1rem;
    background-color: lightgray;
    border-radius: 0.5rem;
  }
}
