.examples {
  display: flex;
  justify-content: space-around;
  gap: 1rem;

  .table {
    border: 1px solid lightgray;

    .tableHeader {
      background-color: lightgray;
    }

    .tableRow:nth-of-type(even),
    tr:nth-of-type(even) {
      background-color: whitesmoke;
    }

    .tableFooter tr td {
      border-top: 1px solid gray;
      grid-column: 1 / -1;
    }
  }

  .sortableTableHeader {
    th:hover {
      cursor: pointer;
    }
  }

  .scrollableTable {
    height: 50%;
  }
}
